body{
color:#222222;
font-family: 'Source Code Pro', sans-serif;
font-weight:400;
font-size:16px;
background:#FBFD00;
line-height:1.5;
}

*:focus{
box-shadow:none !important;
outline: 0 !important;
}

.navbar-brand{
font-size:1.75em;
font-weight:500;
color:#000000 !important;
letter-spacing:-0.04em;
}

.navbar{
padding:12px 0;
z-index:1;
}

.nav-link{
color:#1e1e1e !important;
font-size:20px;
letter-spacing:-0.04em;
}

.main-section-wrapper{
}


.container{
max-width:1140px;
padding-left: 16px;
padding-right: 16px;
}    
    
.hero-container{
}
	
.hero-container p{
font-size:1.25em;
}

	
.hero-title{
font-weight:700;
font-size:3em;
letter-spacing:0px;
}

.btn-primary{
color: #222222;
background-color: transparent;
border-color: #222222;
position: relative;
z-index: 1;
overflow: hidden;
border: solid 2px #222222;
border-radius:2em;
padding:16px 20px;
font-weight:700;
letter-spacing:0px;
}
	
.btn-primary:hover, .btn-primary:focus {
background-color: #222222 !important;
color:#FBFD00 !important;
border: solid 2px #222222 !important;
}


.about-container{
background:#172026;
color:#ffffff;
}
	
.roadmap-container{
background:#e6007a;
color:#ffffff;
}
	
.dashboard-container{
background:#FFFFFF;
}
	
.footer-container{
background:#172026;
color:#ffffff;
}
	
h2{
font-size:2.5em;
font-weight:700;
}
	
.about-title{
display:inline-block;
position:relative;
z-index:1;
}
	

.features-title{
position:relative;
z-index:1;
display:inline-block;
}
	

.roadmap-title{
position:relative;
z-index:1;
display:inline-block;
}
	

.dashboard-title{
position:relative;
z-index:1;
display:inline-block;
}
	
.under-development-message{
top: 0;
left: 0;
position: absolute;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.75);
display: flex;
justify-content: center;
align-items: center;
font-size: 1.25em;
font-weight: 700;
color:#FFFFFF;
}
	
.roadmap-container ul > li {
margin-bottom:4px;
margin-top:4px;
}	
	
.footer-container ul > li {
display: inline-block;
zoom:1;
margin-left:10px;
margin-right:10px;
margin-bottom:8px;
}

.footer-container a {
color:#FFFFFF;
font-size:1.25em;
}

.fa {
height: 60px;
width: 60px;
text-decoration: none;
margin: 9px 6px;
border-radius: 50%;
display: flex;
color: #222222;
border: 2px solid #222222;
align-items: center!important;
justify-content: center!important;
}
    
.fa svg{
fill:#222222;   
}
    
.fa:hover, .fa:focus {
background-color: #222222 !important;
border: solid 2px #222222 !important;
}
    
.fa:hover > svg, .fa:focus > svg {
fill:#FBFD00 !important;
}


@media (min-width: 576px){
.hero-container p{
font-size:1.25em;
}
		
h1{
font-weight:700;
font-size:4em;
}
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
.hero-container p{
font-size:1.5em;
}
    
h1{
font-size:5em;
} 
    
.navbar-expand-lg .navbar-nav .nav-link {
padding-right: 1.125rem;
padding-left: 1.125rem;	
}

.navbar-expand-lg .navbar-nav .nav-item:last-child > .nav-link{
padding-right: 0rem !important;
}
}

@media (min-width: 1200px) {
h1{
font-size:5em;
}
} 

@media (min-width: 1400px) {
h1{
font-size:5em;
}
}
